<div class="container">
    <div class="card">
        <div class="card-title text-center">
            <h2>These are your Quotes for the day</h2>
        </div>
    </div>    
    <div class="card">
            <div class="card-title text-center">
                <h2>Quote1</h2>
            </div>
            <div class="card-body text-center">
                <p>"{{quotes.text}}"</p>
                <p class ="float-left"><i>Posted {{quotes.timePassed}} ago</i></p>
                <p class ="float-right"><i>By {{quotes.author}}</i></p>
            </div>
            <div class="card-footer text-muted">
                    {{quotes.vote.upVote}}{{quotes.vote.downVote}}
                    <button class = "float-right btn-primary-outline">
                        <span class = "glyphicon glyphicon-delete">delete</span></button>
            </div>
        </div>    
</div>
