<div class="container">
        <h2 class = "text-center">These are your Quotes for the day</h2>   
     
    <div *ngFor='let quote of quotes; let i = index' class="card">
            <div class="card-title text-center">
                <h2>Quote</h2>
            </div>
            <div class="card-body text-center">
                <p id={{i}}>"{{quote.text}}"</p>
                <p class ="float-left"><i>Posted {{quote.timePassed}} ago</i></p>
                <p class ="float-right"><i>By {{quote.author}}</i></p>
            </div>
            <div class="card-footer text-muted">
                    <a href = "#" (click)= 'addLikes()'>Likes  {{quote.upVote}}</a> &nbsp; 
                     <a href = "#" (click)= 'addDislikes()'>Dislikes  {{quote.downVote}}</a> 
                    <button (click)='deleteQuote(index)' class = "float-right btn-primary-outline">
                       delete</button>
            </div>
        </div>    
        <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
</div>
