<div class="container">
    <div class="card">
        <div class="card-title text-center">
            <h2>These are your Quotes for the day</h2>
        </div>
    </div>    
    <div class="card">
            <div class="card-title text-center">
                <h2>Quote1</h2>
            </div>
            <div class="card-body text-center">
                <p>"Even the rich cry"</p>
            </div>
            <div class="card-footer text-muted">
                    2 days ago
            </div>
        </div>    
</div>
