<div class="container"><br><br>
        <h2 class="text-center">Create a new Quote</h2>
        <hr>
        <form (ngSubmit)='submitQuote()' #quoteForm='ngForm'>
            <div class="form-group">
      
                <label for="text">Quote text</label>
                <textarea class="form-control" id="text" rows="4" [(ngModel)]="newQuote.text" text = "text" #text='ngModel' required></textarea>
               
            </div>
            <div class="form-group">
      
                <label for="author">Author of Quote</label>
                <input type="text" class="form-control" id="author" [(ngModel)]="newQuote.author" author = "author" #author='ngModel' required>
               
            </div>
            <!-- <div class="form-group">
      
                <label for="poster">posted by</label>
                <input type="text" class="form-control" id="poster" [(ngModel)]="newQuote.poster" poster = "poster" #poster='ngModel' required>
                
                </div> -->
            <button>Submit Quote</button>
        </form>
      </div>
